<%= provide( :title, "/play" ) %>
<div class="wrapper">
  <%= render 'layouts/aside' %>
  <div class="wrapper_main">
    <div id="omikuji">?</div>
  </div>
</div>

<%# <script src="javascript/play.js"></script> %>