<div class="wrapper_aside">
  <div class ="wrapper_aside_top">
    <div class="side-bar">
      <div class="side-bar_name">
        Toyoji
      </div>
      <div class="side-bar_link">
      <%= link_to "#",class: "side-bar_icon"  do %>
        <i class="fas fa-cog"></i>
      <% end %>
      <%= link_to "#",class: "side-bar_icon"  do %>
        <i class="fas fa-edit"></i>
      <% end %>
      </div>
    </div>
  </div>
  <div class="wrapper_aside_middle">
    <div class="group">
      <div class="group_name">
      チャットグループ
      </div>
      <div class="group_message">
      まだ　メッセージはありません。
      </div>
    </div>
  </div>
  <div class="wrapper_aside_middle">
    <div class="group">
      <div class="group_name">
      チャットグループ
      </div>
      <div class="group_message">
      まだ　メッセージはありません。
      </div>
    </div>
  </div>
  <div class="wrapper_aside_middle">
    <div class="group">
      <div class="group_name">
      チャットグループ
      </div>
      <div class="group_message">
      まだ　メッセージはありません。
      </div>
    </div>
  </div>
</div>
