<footer class="footer">
  <div class="footer-nav">
   footer
  </div>
  <div class="footer-nav">
   footer
  </div>
  <div class="footer-nav">
   footer
  </div>
  <div class="footer-nav">
   footer
  </div>
  <div class="footer-nav">
   footer
  </div>
</footer>